@import "tailwindcss";

@theme {
  --color-dark-surface: #121212;
  --color-dark-panel: #1E1E1E;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-surface);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}
